.locals-container {
    height: calc(100vh );
    padding-bottom: 74px ;
    background: #9F6F63;
    width: 100vw;
    overflow: hidden;
}

.arrows{
    position: absolute;
    bottom: 48px;
    left: 100px;
}

.locals-container.home {
    width: calc(100vw);
}

.title-locals {
    color: #E0D0C1;
}

body {
    overflow: hidden;
}

.locals-grid-container {
    height: 600px ;
    overflow-x: auto;
    overflow-y: hidden;
    /*transform:rotate(-90deg) translateY(-100vw);
    transform-origin: right top;*/
  }

.locals {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-left: 120px ;
}

.locals.home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 120px ;
    padding-right: 120px ;
  }

#locals-know-more>.activity-link {
    font-size: 24px;
    position: absolute;
    bottom: calc(55px / 2 + 48px - 29px / 2);
    padding-left: 120px;
}

@media screen and (max-width: 800px) {
    .locals-container .arrows{
      display: none;
    }
  
    .locals {
      display: flex;
      flex-direction: column;
      width: fit-content;
      transform: none;
      margin: 0 0;
      padding-left: 0px;
      margin-top: 0px;
    }
  
    .locals-container {
      overflow-y: scroll;
      overflow-x: hidden;  
    }
    
    .locals-grid-container {
      width: 100vw;
      height: auto;
      overflow-x: auto;
      overflow-y: hidden;
      display: flex;
      justify-content: center;
      transform:none;
    }
    
    h2 {
    text-align: center;
    padding-left: 0;
    }
  }
  
  @media screen and (max-width: 600px) {
    h2{
      font-size: 30px;
      line-height: 44px;;
    }
  }
  
  @media screen and (max-width: 460px) {
    h3{
      font-size: 16px;
    }
    
    h4{
      font-size: 14px;
    }
  
    .locals {
      row-gap: 14px;
    }
  
    h2{
     font-size: 20px;
     line-height: 24px;;
   }
  }