.card-local {
    background: #FCFCFC;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    width: 361px;
    Height: 480px;
}

.local-content {
    padding: 10px 36px;
}

.local-content>a {
    margin-top: 14px;
}

.local-content>h3 {
    text-align: start !important;
}

.local-content>h4 {
    text-align: start !important;
}

.local-image {
    width: 361px !important;
    height: 306px !important;
    object-fit: cover !important;
    justify-self: end !imporßtant;
}

/*
.carousel .slide img {
    width: 361px;
    height: 306px;
    justify-self: end;
}

.carousel .slide {
    text-align: start;
}*/