body {
    background-color: #07504D;
}

.title {
    color: #E0D0C1;
}

.box {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    height: 100vh;
    align-items: center;
    margin-left: 120px;
    margin-right: 120px;
}

.box_text {
    justify-self: start;
    width: 507px;
}

.image {
    width: 507px;
    height: 611px;
    object-fit: cover;
    justify-self: end;
    
}

.box_enderecos {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

.description {
    padding-bottom: 18px;
    color: #FCFCFC;
}

.box_contactos > p {
    font-weight: normal;
    text-align: start;
    padding: 5px 0px;
    color: #FCFCFC;
    font-size: 18px;
    line-height: 22px;
}