body {
    background-color: #07504D !important;
}

.contact-title {
    color: #E0D0C1;
}

.contact-container {
    height: 100vh;
    width: 100vw;
}

.contact-content {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;   
    align-items: center;
    margin-left: 120px;
    margin-right: 120px;
    height: 100%;
}

.contact-info {
    justify-self: start;
    width: 507px;
}

.contact-image {
    width: 507px;
    height: 611px;
    object-fit: cover;
    justify-self: end;
    
}

.contacts {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

.contact-description {
    color: #FCFCFC;
}

.contact > p {
    font-weight: normal;
    text-align: start;
    padding: 5px 0px;
    color: #FCFCFC;
    font-size: 18px;
    line-height: 22px;
}