.activities-container {
  /* devia ser 100*/
  height: calc(100vh );
  padding-bottom: 74px ;
  background: #E0D0C1;
  width: 100vw;
  overflow: hidden;
}

.arrows{
  position: absolute;
  bottom: 48px;
  left: 100px;
}

.activities-container.home {
  width: calc(100vw);
}

.activities-title {
  padding-top: 5vh ;
  padding-left: 120px ;
  font-family: "Kadwa";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 72px;
  /* castanho */
  color: #9F6F63;
}

body {
  overflow: hidden;
}

.activities-grid-container {
  height: 600px ;
  overflow-x: auto;
  overflow-y: hidden;
  /*transform:rotate(-90deg) translateY(-100vw);
  transform-origin: right top;*/
}

.activities {
  position: relative;
  display: grid;
  grid-template-columns: repeat(21, 180px);
  grid-template-rows: 256px 256px;
  row-gap: 36px;
  /*transform: rotate(90deg);
  padding-left: 100vw ;
  margin-top: 120px;
  transform-origin: right top;*/
  padding-left: 120px ;
}

.activities.home {
  transform: none;
  display: flex;
  flex-direction: column;
  padding:0 120px;
  margin-top: 0;
  width: calc(100vw - 2 * 120px);
}

.activities.home>.card-item{
  width: fit-content;
}

.activities.home>.card-item:nth-of-type(2){
  align-self: flex-end;}

#activities-know-more>.activity-link {
  font-size: 24px;
  position: absolute;
  margin-left: 120px;
}

button{
  color: transparent;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .activity-image {
    height: 306px !important;
  }


  .activities-container.home{
    height: auto;
  
  }
  
  .activities.home{
    padding: 0;
    margin-top: 25px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    transform: none;
    margin: 0 0;
    padding-left: 0px;
    justify-content: center;

  }
  .activities.home>.card-item, .activities.home>.card-item:nth-of-type(2){
    align-self: center;
    
  }


  .activities.home>.card-item {
        grid-column: span 1;
      max-width: 361px;   
      transform: none;
    }


    .activities.home .card-item:last-of-type {
      margin-right: 0px;
  }


    .activities.home .card-inner, .activities.home .card {
      flex-direction: column !important;

      width: fit-content;
  transform: none;



  }


  .activities.home .activity-content{
    padding: 36px ;
}
    

}
@media screen and (max-width: 800px) {
  .activities-container .arrows{
    display: none;
  }
.card-item:last-of-type {
  margin-right: 0px;
}
  .activities {
    display: flex;
    flex-direction: column;
    width: fit-content;
    transform: none;
    margin: 0 0;
    padding-left: 0px;
    margin-top: 0px;
  }

  .activities-container {
    overflow-y: scroll;
    overflow-x: hidden;  
  }
  
  .activities-grid-container{
    width: 100vw;
    height: auto;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    transform:none;
  }
  
  .activities-title{
  text-align: center;
  padding-left: 0;
  }
}

@media screen and (max-width: 600px) {
  .activities-title{
    font-size: 30px !important;
    line-height: 44px !important;
  }
}

@media screen and (max-width: 460px) {
  h3{
    font-size: 16px !important;
  }
  
  h4{
    font-size: 14px !important;
  }

  .activities {
    row-gap: 14px;
  }

  .activities-title{
   font-size: 20px !important;
   line-height: 24px !important;
 }
}

/*
.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100vh;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}
.c-scrollbar:hover {
  transform: scaleX(1.45);
}
.c-scrollbar:hover,
.has-scroll-dragging .c-scrollbar,
.has-scroll-scrolling .c-scrollbar {
  opacity: 1;
}
.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #000;

  width: 7px;

  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
*/