.activities-container {
  /* devia ser 100*/
  min-height: 100vh;
  background: #E0D0C1;
  width: 100vw;
  overflow-y: scroll;
  position: relative;
  scrollbar-gutter: none;

}

html {

  overflow-y: hidden;
}

.activity-arrows {
  margin-top: 4vh;
  margin-left: 100px;
}

.activities-container.home {
  width: calc(100vw);
  height: fit-content;
  overflow: hidden;

}

/* width */
.activities-container::-webkit-scrollbar {
  width: 0;
}

/* Track */
.activities-container::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.activities-container::-webkit-scrollbar-thumb {
  background: #919191;
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid #E0D0C1;
  /* creates padding around scroll thumb */

}

/* Handle on hover */
.activities-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* width */
.activities-grid-container::-webkit-scrollbar {
  width: 12px;
}

/* Track */
.activities-grid-container::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.activities-grid-container::-webkit-scrollbar-thumb {
  background: rgba(159, 111, 99, 0.68);
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid #E0D0C1;
  /* creates padding around scroll thumb */

}

/* Handle on hover */
.activities-grid-container::-webkit-scrollbar-thumb:hover {
  background: rgba(159, 111, 99, 1);
}

.activities-title, .activities-title.home {
  padding-top: 5vh;
  padding-left: 120px;
  font-family: "Kadwa";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 72px;
  margin-bottom: 0;
  /* castanho */
  color: #9F6F63;
}

body {
  overflow: hidden;
}

button {
  transition: transform 200ms ease-out;

}

button:hover {
  transform: scale(1.3);

}

.activities-grid-container {
  height: fit-content;
  overflow-x: auto;
  overflow-y: visible;
  /*transform:rotate(-90deg) translateY(-100vw);
  transform-origin: right top;*/
}

.activities {
  margin-top: 32px;
  margin-bottom: 32px;
  overflow-y: visible;
  position: relative;
  display: grid;
  grid-auto-flow: column;

  grid-template-columns: repeat(21, 180px);
  grid-template-rows: 233px 233px;
  row-gap: 6vh;
  
  /*transform: rotate(90deg);
  padding-left: 100vw ;
  margin-top: 120px;
  transform-origin: right top;*/
  padding-left: 120px;
}

.activities.home {
  transform: none;
  display: flex;
  height: fit-content;
  margin-top: 32px;
  flex-direction: column;
  padding: 0 120px;
  width: calc(100vw - 2 * 120px);
}

.card-item {
  cursor: pointer;
}


.activities.home>.card-item {
  width: fit-content;
  height: 233px;
}

.activities.home>.card-item:nth-of-type(2) {
  align-self: flex-end;
  margin: 0;
}

#activities-know-more>.activity-link {
  font-size: 24px;
  margin-left: 120px;
  margin-top: calc(50px - 29px);
  margin-bottom: 100px;
}

button {
  color: transparent;
  background-color: transparent;
  border: none;
  cursor: pointer;
}


@media screen and (max-height: 800px) and (min-width: 1045px) {


  .activities-title.home {
    text-align: left !important;
    padding-left: 120px !important;
  }

  .activities-container .activity-arrows {
    display: none;
  }

  .card-item:last-of-type {
    margin-right: 0px;
  }

  .activities {
    display: flex;
    flex-direction: column;
    width: fit-content;
    transform: none;
    margin: 32px 0;
    padding-left: 0px;
  }

  .activities-container {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .activities-grid-container {
    width: 100vw;
    height: auto;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    transform: none;
  }



  .activities-title {
    text-align: center;
    padding-left: 0;
  }

}




@media screen and (max-width: 1250px) and (max-height: 800px) {
  .activities-title.home {
    text-align: center !important;
    padding-left: 0 !important;
  }

}




@media screen and (max-width: 1250px) {
  .activities-title.home {
    text-align: center;
    padding-left: 0;
  }



  .activities.home .activity-image {
    height: 306px !important;
  }


  .activities-container.home {
    height: auto;
    padding-bottom: 100px;
  }

  .activities.home {
    padding: 0;
    margin-top: 25px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    transform: none;
    margin: 32px 0;
    padding-left: 0px;
    justify-content: center;

  }

  .activities.home>.card-item, .activities.home>.card-item:nth-of-type(2) {
    align-self: center;

  }


  .activities.home>.card-item {
    grid-column: span 1;
    height: fit-content;
    max-width: 361px;
    transform: none;
  }


  .activities.home .card-item:last-of-type {
    margin-right: 0px;
  }


  .activities.home .card-inner, .activities.home .card {
    flex-direction: column !important;

    width: fit-content;
    transform: none;



  }



  .activities.home .activity-content {
    width: auto;

    padding: 36px;
  }

  #activities-know-more>.activity-link {
    margin-left: 0px !important;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  #activities-know-more {
    display: flex;
    justify-content: center;

  }

}



@media screen and (max-height: 800px) and (max-width: 1045px) {


  .activities-container .activity-arrows {
    display: none;
  }

  .card-item:last-of-type {
    margin-right: 0px;
  }

  .activities {
    display: flex;
    flex-direction: column;
    width: fit-content;
    transform: none;
    margin: 32px 0;
    padding-left: 0px;
  }

  .activities-container {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .activities-grid-container {
    width: 100vw;
    height: auto;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    transform: none;
  }

  .activities-title {
    text-align: center;
    padding-left: 0;
  }

  .activities-title.home {
    text-align: left;
    padding-left: 120px;
  }


}








@media screen and (max-width: 800px) {

  .activities-title {
    font-size: 30px !important;
    line-height: 44px !important;
    padding-left: 0;
    text-align: center;
  }

  .activities-container .activity-arrows {
    display: none;
  }

  .card-item:last-of-type {
    margin-right: 0px;
  }

  .activities {
    display: flex;
    flex-direction: column;
    width: fit-content;
    transform: none;
    margin: 32px 0;
    padding-left: 0px;
  }

  .activities-container {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .activities-grid-container {
    width: 100vw;
    height: auto;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    transform: none;
  }


}

@media screen and (max-width: 600px) {
  .activities-title {
    font-size: 30px !important;
    line-height: 44px !important;
    padding-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 460px) {
  h3 {
    font-size: 16px !important;
  }

  h4 {
    font-size: 14px !important;
  }

  .activities {
    row-gap: 24px;
  }

  .activities-title {
    font-size: 20px !important;
    line-height: 24px !important;
  }
}