.GalleryContainer {
    position: relative;

    width: 100vw;
    height: 100vh;
}

.each-slide {
    height: 100vh;
}

.carousel .slide img {
    height: 100vh;
    object-fit: cover;

}

.carousel .control-prev.control-arrow:before {
    content: url('LeftArrow.svg') !important;
    border-right: none;
}

.carousel .control-next.control-arrow:before {
    content: url('RightArrow.svg') !important;
    border-left: none;

}

.carousel.carousel-slider .control-arrow:hover {
    background: none;
}

.carousel.carousel-slider .control-arrow {
    height: 100vh;
}

.carousel .control-arrow, .carousel.carousel-slider .control-arrow {
    opacity: 1;
}

.carousel .control-arrow, .carousel.carousel-slider .control-arrow:hover {
    opacity: 0.4;
}

.carousel .control-dots {
    bottom: 48px;
}

.carousel .control-dots .dot {
    transition: opacity .25s ease-in;
    opacity: .5;
    box-shadow: none;
    background: #fff;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    cursor: pointer;
    display: inline-block;
    margin: 0 8 px;
}