.bm-item-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav-links {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.menu-item {
    margin-bottom: 3vh;
    text-align: center;
    text-decoration: none;
    color: #FCFCFC;
    font-family: "Alegreya Sans";
    font-weight: 500;
    font-size: 24px;
}

#home {
    margin-bottom:8vh;
}

#social-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

#social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#facebook {
    margin-right: 20px;
}


.bm-cross-button:nth-child(2) {
    height: 40px;
}

#book {
    text-decoration-line: underline;
    text-underline-offset: 4px;
}

.bm-menu, .bm-menu-wrap.sidebar-container {
    width: 372px;
    height: 100vh;

}

.bm-item {
    padding: 15vh 0 8vh 0;
}


.bm-cross-button {
    left: 48px;
    height: 32px;
    width: 32px;
    margin-top: 20px;
}



.bm-burger-button {
    position: fixed;
    width: 32px;
    height: 20px;
    left: 48px;
    top: 44px;
  }
  .bm-burger-bars {
    height: 4px;
  }

@media screen and (max-width: 380px) {
    .bm-menu, .bm-menu-wrap{
        width: 100vw;
    }

    .bm-item {
        padding: 10vh 0 5vh 0;
    }

    .bm-cross-button {
        left: 24px;
        top: 24px;
    }


    .logo {
        margin-bottom: 8vh;
    }

}

@media screen and (max-width: 600px) {


.bm-burger-button {
    width: 32px;
    height: 20px;
    left: 28px;
    top: 28px;
  }

  .bm-cross-button {
   margin-top: 10px;
   left: 32px;
}



  }
  @media screen and (max-width: 460px) {


    .bm-burger-button {
        width: 28px;
        height: 15px;
        left: 28px;
        top: 28px;
      }

      .bm-burger-bars {
        height: 2.5px;
      }
    
      }
    