.bm-item-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav-links {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.menu-item {
    margin-bottom: 3vh;
    text-align: center;
    text-decoration: none;
    color: #FCFCFC;
    font-family: "Alegreya Sans";
    font-weight: 500;
    font-size: 24px;
}

#home {
    margin-bottom:8vh;
}

#social-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

#social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#facebook {
    margin-right: 20px;
}


.bm-cross-button:nth-child(2) {
    height: 40px;
}

#book {
    text-decoration-line: underline;
    text-underline-offset: 4px;
}

.bm-menu, .bm-menu-wrap.sidebar-container {
    width: 372px;
    height: 100vh;

}

.bm-item {
    padding: 15vh 0 8vh 0;
}


.bm-cross-button {
    left: 40px;
    height: 32px;
    width: 32px;
    top: 36px;
}








@media screen and (max-width: 380px) {
    .bm-menu, .bm-menu-wrap{
        width: 100vw;
    }

    .bm-item {
        padding: 10vh 0 5vh 0;
    }

    .bm-cross-button {
        left: 24px;
        top: 24px;
    }


    .logo {
        margin-bottom: 8vh;
    }
}