.activity-link {
    display: flex;
    justify-items: center;
    margin: 0;
    width: fit-content;
    text-decoration: none;

    align-items: center;
    transition: transform 200ms ease-out ;
}

p {
    margin: 0;
    margin-right: 10px;
    font-family: "Alegreya Sans";
    font-weight: 600;


}

.arrow-link {
    margin-top: 2px;

}

.activity-link:hover{
    transform: scale(1.1);

}