.box {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    align-items: center;
    margin-left: 120px;
    margin-right: 120px;
}

.box_text {
    justify-self: start;
    width: 507px;
}

.image {
    width: 507px;
    height: 611px;
    object-fit: cover;
    justify-self: end;
    
}

.box-button {
    padding-top: 17px;
}

.box-button-last {
    padding-top: 21px;
}