@import url('https://fonts.googleapis.com/css?family=Chau+Philomene+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kadwa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans&display=swap');

.App, #root,body,html {
  height: 100vh;
  width: 100vw;
  /*overflow-x: hidden;
  overflow-y: scroll;*/
  overflow: hidden;


  ;
}

.App{
  overflow-y: overlay;

}


/* width */
.App::-webkit-scrollbar {
  width: 8px;
  z-index: -1;
}

/* Track */
.App::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.App::-webkit-scrollbar-thumb {
  background: #919191;
    border-radius: 20px;       /* roundness of the scroll thumb */

}